body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border: solid 2px purple rgb(9, 67, 121) rgb(138, 43, 226) rgb(236, 13, 13);
padding: 20px;
font-size: 32px;
color: rgb(138, 43, 226)
}